@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #18181b;
}

#contador {
    background-color: #262626;
    padding: 2rem;
    border-radius: 8px;
}

#contador div {
    display: flex;
    align-items: center;
}

#valor {
    font-size: 8rem;
    color: #fff;
    min-width: 14rem;
    text-align: center;
}

button {
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;

    transition: all .3s;
}

button:hover {
    opacity: .8;
}

.botaoContador {
    margin-right: 1rem;
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
    background-color: #18181b;
}

.botaoContador:last-child {
    margin-right: 0;
    margin-left: 1rem;
}

#botaoResetar {
    width: 100%;
    font-size: 1.8rem;
    background-color: #3730a3;
    padding: .8rem 0;
    margin-top: 1rem;
}